In [1]:
import numpy as np
import pandas as pd

In [2]:
# 집계함수의 절차 : 분리(split)-적용(apply)-결합(combine)
# DataFrame : 통계량을 계산할 열(Series).groupby(기준이 될 열(Series))
# Series : 특정열인덱싱.groupby(기준열인덱싱)
df = pd.DataFrame({'key1':list('aabba'),
                   'key2':['one','two','one','two','one'],
                   'data1':np.random.randn(5),
                   'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.642797  0.062961
1    a  two -0.011447  1.558347
2    b  one -0.249397 -0.786758
3    b  two -0.079256 -0.061540
4    a  one  2.156919 -0.946814

In [3]:
# key1 열이 a인 행들에 대해 data1의 평균을 계산하시오.
grouped = df['data1'].groupby(df['key1'])
grouped

In [4]:
grouped.mean()

key1
a    0.929423
b   -0.164326
Name: data1, dtype: float64

In [5]:
# key1과 key2를 그룹하여 data1에 대한 평균을 계산하시오.
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one     1.399858
      two    -0.011447
b     one    -0.249397
      two    -0.079256
Name: data1, dtype: float64

In [6]:
# 하위 계층을 위로 올리는 작업
means.unstack()

key2       one       two
key1
a     1.399858 -0.011447
b    -0.249397 -0.079256

In [7]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.929423  0.224831
b    -0.164326 -0.424149

In [8]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one   1.399858 -0.441927
     two  -0.011447  1.558347
b    one  -0.249397 -0.786758
     two  -0.079256 -0.061540

In [9]:
df.groupby(['key1', 'key2'])['data2'].mean()

key1  key2
a     one    -0.441927
      two     1.558347
b     one    -0.786758
      two    -0.061540
Name: data2, dtype: float64

In [10]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one  0.642797  0.062961
1    a  two -0.011447  1.558347
4    a  one  2.156919 -0.946814
b
  key1 key2     data1     data2
2    b  one -0.249397 -0.786758
3    b  two -0.079256 -0.061540

In [11]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print(k1, k2)
    print(group)

a one
  key1 key2     data1     data2
0    a  one  0.642797  0.062961
4    a  one  2.156919 -0.946814
a two
  key1 key2     data1     data2
1    a  two -0.011447  1.558347
b one
  key1 key2     data1     data2
2    b  one -0.249397 -0.786758
b two
  key1 key2     data1    data2
3    b  two -0.079256 -0.06154

In [12]:
df.groupby(['key1', 'key2']).count()

           data1  data2
key1 key2
a    one       2      2
     two       1      1
b    one       1      1
     two       1      1

In [13]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64