#### 0. 리스트(List)
- 임의의 객체를 순차적으로 저장하는 자료형
- Sequence DataType, 시퀀스 자료형
- 변경 가능
- 대괄호 []
- 중요함수 : range()

In [1]:
# 리스트 생성
names = ['홍길동', '장보고', '이순신', '강감찬']
print(names)

['홍길동', '장보고', '이순신', '강감찬']

In [2]:
ages = [12, 20, 33, '41']
print(ages)

[12, 20, 33, '41']

In [3]:
# 인덱싱[], 인덱스의 시작은 0부터
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a)
print(a[1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2

In [7]:
# 슬라이싱 : 리스트에서 한 번에 여러 개의 데이터 추출
# [start:end-1]
print(a)
print(a[0:5])
print(a[6:])
print(a[:3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[7, 8, 9, 10]

In [8]:
# '+' 연산자를 이용해서 리스트 결합이 가능하다.
a = [1, 2, 3, 4]
b = [5, 6, 7]
print(a + b)
print(b + a)

[1, 2, 3, 4, 5, 6, 7]
[5, 6, 7, 1, 2, 3, 4]

In [9]:
# 리스트는 변경이 가능하다.
# 리스트의 특정 위치의 값을 참조하고 변경
a = [1, 2, 3, 4, 5]
print(a)
a[3] = 30
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 30, 5]

In [10]:
# 리스트의 길이를 반환하는 함수 len()
print(len(a))

# append() : 리스트 끝에 추가하는 함수
a = [1, 2, 3]
print(a)
a.append(4)
print(a)

5
[1, 2, 3]
[1, 2, 3, 4]

In [24]:
# '*' 반복
a = [1, 2, 3]
print(a)
print(a * 3)

[1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
# '+' 리스트간의 결합을 의미
# extend()
a = [1, 2, 3]
print(a)
a.extend([4, 5, 6])
print(a)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]

In [12]:
# insert(INDEX, DATA)
a = [2, 4, 5]
print(a)
a.insert(0, 1)
a.insert(2, 3)
print(a)

[2, 4, 5]
[1, 2, 3, 4, 5]

In [13]:
# remove(DATA), 제거하는 함수
a = ['BMW', 'BENZ', 'AUDI', 'VOLKSWAGEN']
print(a)
a.remove('VOLKSWAGEN')
print(a)

['BMW', 'BENZ', 'AUDI', 'VOLKSWAGEN']
['BMW', 'BENZ', 'AUDI']

In [16]:
# pop(), 마지막 위치에 있는 요소를 제거하는 함수
a = [1, 2, 3, 4, 5]
print(a)
print(a.pop())
print(a)
a.pop()
print(a)

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4]
[1, 2, 3]

In [17]:
# count(DATA), 입력된 매개변수와 일치하는 데이터 개수
a = [1, 100, 2, 100, 3, 100]
print(a.count(100))

3

In [18]:
# sort(), 정렬 - 기본형 : 오름차순, reverse = True : 내림차순
a = [5, 6, 1, 7, 3, 2]
print(a)
a.sort()
print(a)
a.sort(reverse = True)
print(a)

[5, 6, 1, 7, 3, 2]
[1, 2, 3, 5, 6, 7]
[7, 6, 5, 3, 2, 1]

In [19]:
# 리스트 요소를 뒤집는 함수
a = [5, 6, 1, 7, 3, 2]
a.reverse()
print(a)

[2, 3, 7, 1, 6, 5]

#### 1. 튜플(Tuple)
- 리스트와 유사하지만 튜플 내의 값을 변경할 수 없다.
- 읽기전용 데이터를 저장할 때 사용
- 변경 불가능
- 소괄호()

In [20]:
# 튜플 생성하기
a = (1, 2, 3)
print(type(a))

<class 'tuple'>

In [21]:
a = 1, 2, 3, 4, 5 # Packing
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [22]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(a)

# Indexing & Slicing, [:] 조건식
print(a[3])
print(a[:3])
print(a[4:6])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
4
(1, 2, 3)
(5, 6)

In [ ]:
a = (1, 2, 3)
a[0] = 7 # 값 변경 불가 오류

In [23]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
print(t1, t2)
print(t1 + t2)
print(t2 + t1)

(1, 2, 'a', 'b') (3, 4)
(1, 2, 'a', 'b', 3, 4)
(3, 4, 1, 2, 'a', 'b')

In [25]:
t1 = (1, 2, 3)
print(t1)
print(t1 * 2)

(1, 2, 3)
(1, 2, 3, 1, 2, 3)

In [26]:
t1 = (1, 2, 3, 4, 5)
print(t1)
print(len(t1)) #length 길이

(1, 2, 3, 4, 5)
5

In [27]:
# Packing, Unpacking
t1 = 1, 2, 3 #Packing
print(t1)

one, two, three = t1 #Unpacking
print(one)

#aa, bb = t1 # 요소의 개수가 달라 오류 발생

(1, 2, 3)
1

In [28]:
city, latitude, longitude = 'Seoul', 37.541, 126.986
print(city, latitude, longitude)

Seoul 37.541 126.986

In [29]:
# 리스트의 append(), 뒤에 추가한다.
t1 = (1, 2, 3)
t1.append(4)
print(t1)

[1, 2, 3, 4]

In [ ]:
# 튜플에서 사용가능한 메서드 index(), count()
t1 = ('abc', 'def', 'ghi')
print(t1.index('def'))
#print(t1.index('jkl')) #value error 발생 : 존재하지 않는 값

In [30]:
t1 = (1, 100, 2, 100, 3, 100)
print(t1.count(100))
print(t1.count(200))

3
0

#### 2. 딕셔너리(Dictionary)
- 파이썬에서 가장 많이 사용하는 자료구조
- 확장된 개념은 DataFrame(데이터프레임)이다.
- 키(Key)와 값(Value)를 쌍으로 저장하고 관리한다.
- 키는 중복을 허용하지 않고, 값은 중복이 허용된다.
- 저장된 데이터의 순서는 의미가 없다.
- 중괄호 {}
- 아이템은 키와 값을 묶어서 부른다.
- 쉼표(,)를 기준으로 아이템을 구분한다.
- 중요함수 : 사전.keys(), 사전.values(), 사전.items()

In [41]:
# 딕셔너리 생성
dic = {}
dic['파이썬'] = 'www.python.org'
dic['애플'] = 'www.apple.com'
dic['마이크로소프트'] = 'www.microsoft.com'
print(dic)
print(type(dic))

{'파이썬': 'www.python.org', '애플': 'www.apple.com', '마이크로소프트': 'www.microsoft.com'}
<class 'dict'>

In [33]:
print(dic.keys())
print(dic.values()) # 리스트 형태

dict_keys(['파이썬', '애플', '마이크로소프트'])
dict_values(['www.python.org', 'www.apple.com', 'www.microsoft.com'])

In [34]:
print(dic.items())

dict_items([('파이썬', 'www.python.org'), ('애플', 'www.apple.com'), ('마이크로소프트', 'www.microsoft.com')])

In [35]:
# in 연산자
print('애플' in dic.keys())

True

In [36]:
print('사과' in dic.keys())
print('www.apple.com' in dic.values())

False
True

In [37]:
students = {'홍길동':'컴공과', '이순신':'해양과'}
print(students)

{'홍길동': '컴공과', '이순신': '해양과'}

In [42]:
# 'pop' 키와 값을 쌍으로 제거하는 함수
print(dic)
dic.pop('애플')
print(dic)

{'파이썬': 'www.python.org', '애플': 'www.apple.com', '마이크로소프트': 'www.microsoft.com'}
{'파이썬': 'www.python.org', '마이크로소프트': 'www.microsoft.com'}

In [43]:
# clear() 딕셔너리 요소를 모두 제거하는 함수
print(dic)
dic.clear()
print(dic)

{'파이썬': 'www.python.org', '마이크로소프트': 'www.microsoft.com'}
{}

In [44]:
person = {'name':'kim', 'phone':'010-1111-2222', 'birth':'1118'}
print(person)
print(person['name'])

{'name': 'kim', 'phone': '010-1111-2222', 'birth': '1118'}
kim

In [ ]:
print(person.keys())

In [45]:
# get(KEY) 키를 통해 값을 얻어오는 함수
person.get('phone')

'010-1111-2222'

#### 3. 집합(Set)
- 인덱스가 없고 값만 저장되는 자료구조
- 순서는 의미가 없다.
- 중괄호 {}
- 쉼표(,)를 기준으로 아이템 구분
- 중복을 허용하지 않는다.

In [46]:
# 집합 생성
s1 = set([1, 2, 3])
print(s1)
s2 = set("Hello")
print(s2)

{1, 2, 3}
{'l', 'H', 'o', 'e'}

In [48]:
s1 = set([1, 2, 3])
l1 = list(s1)
print(s1, l1)

{1, 2, 3} [1, 2, 3]

In [49]:
t1 = tuple(s1)
print(t1)

(1, 2, 3)

In [50]:
# 교집합, 합집합, 차집합
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1)
print(s2)

#교집합, &, intersection()
print(s1 & s2)
print(s1.intersection(s2))

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [51]:
# 합집합, |, union()
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [52]:
# 차집합, -, difference()
print(s1 - s2)
print(s1.difference(s2))
print(s2 - s1)
print(s2.difference(s1))

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [55]:
# add, 1개의 값을 추가하는 함수
# update, 여러개의 값을 추가하는 함수

s1 = set([1, 2, 3])
s1.add(4)
print(s1)
s1.update([4, 5, 6])
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}

In [56]:
# remove 특정 값을 제거하는 함수
s1.remove(2)
print(s1)

{1, 3, 4, 5, 6}

In [58]:
# 깊은 복사 얕은 복사
a = [1, 2, 3, 4, 5]
b = a # 주소값만 복사 (얕은 복사)
b[0] = 10
print(a)
print(b)

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [59]:
a = [1, 2, 3, 4, 5]
b = a[:] # 데이터를 복사 (깊은 복사)
b[0] = 10
print(a)
print(b)

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [60]:
# 외부의 패키지나 모듈 또는 함수를 불러오는 작업
# import 모듈 : 해당 모듈에 있는 모든 객체를 불러온다.
# from 모듈 import 메서드나 함수 또는 변수
# 날짜 자료형 처리
from datetime import date, time, datetime, timedelta

In [63]:
# today() : 오늘 날짜를 반환하는 함수
today = date.today()
print(f"오늘 : {today}") # 년-월-일
print(f"{today.year}년")
print(f"{today.month}월")
print(f"{today.day}일")

오늘 : 2021-04-02
2021년
4월
2일

In [64]:
# 날짜와 시간을 한 번에 추출
current_datetime = datetime.today()
print(f"날짜와 시간 : {current_datetime}")

날짜와 시간 : 2021-04-02 12:27:48.187445

In [65]:
# 형식화 된 날짜 출력
today = datetime.today() #날짜와 시간을 반환
print(today)
print(type(today))

2021-04-02 12:29:52.367149
<class 'datetime.datetime'>

In [70]:
# 날짜를 문자열로 변환하여 서식을 이용
# %y %m(month) %M(minute) %H %S : 대소문자 주의
d = today.strftime("%y-%m-%d %H:%M:%S") #string format time
print(d)
print(type(d))

21-04-02 12:29:52

In [71]:
days = timedelta(days = -1) # 하루 전 날(어제)
print(today + days)

days = timedelta(days = -7) # 7일 전(일주일 전)
print(today + days)

days = timedelta(days = 30) # 30일 후
print(today + days)

2021-04-01 12:29:52.367149
2021-03-26 12:29:52.367149
2021-05-02 12:29:52.367149

In [73]:
hours = timedelta(hours = -8) # 8시간 전
print(today + hours)
print(hours.days, hours.seconds)

2021-04-02 04:29:52.367149
-1 57600