#### 0. 표준입출력함수(print, input)

In [1]:
# 화면에 'Hello, Python'이라는 문자열을 출력하시오.
print("Hello, Python")
print('Helly, Python')

Hello, Python
Helly, Python

In [2]:
# 화면에 "Mary's cosmetics"라는 문자열을 출력하시오.
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
# '신씨가 소리를 질렀다. "도둑이야!"' 를 화면에 출력하시오
print('신씨가 소리를 질렀다. "도둑이야!"')

신씨가 소리를 질렀다. "도둑이야!"

In [6]:
# "c:\windows"를 화면에 출력하시오.
print("c:\windows")

c:\windows

In [7]:
# 제어문자 , \n \t

print('안녕하세요\n만나서\t반갑습니다.')

안녕하세요
만나서	반갑습니다.

In [8]:
# 열거 연산자 ,(쉼표)
print('오늘은','월요일','비온대')

오늘은 월요일 비온대

In [9]:
# sep : 구분자
print('naver','kakao','samsung', sep = ':')

naver:kakao:samsung

In [10]:
print('naver','kakao','samsung', sep = '/')

naver/kakao/samsung

In [11]:
# 종결문자(;)
print('first');print('second')

first
second

In [12]:
print('first', end = " ");print('second')

first second

In [13]:
print(5/3)

1.6666666666666667

#### 1. 할당, 대입연산자(*), 변수에 값을 대입하는 작업 => 바인딩

In [14]:
# 삼성전자라는 변수에 50000원을 바인딩한 후 주식 10주를 보유하고 있을 때
# 총평가금액을 출력하시오
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [15]:
# type() 자료형을 확인하는 함수
a = 123
print(type(a))

<class 'int'>

In [16]:
# 문자열을 정수로 변환 : int()
# 정수를 문자열로 변환 : str()
# 문자열을 실수로 변환 : float()
# year라는 변수에 현재 년도를 문자열로 바인딩 하고 정수로 변환한 후
# 최근 3년의 연도를 화면에 출력하시오

year = '2021'
print(int(year) - 3)
print(int(year) - 2)
print(int(year) - 1)

2018
2019
2020

In [18]:
# 에어컨이 월 48,584원 무이자 36개월의 조건으로 홈쇼핑에서 판매
# 총 금액을 계산하는 프로그램 구현

month = 48584
total = month * 36
print(total)

1749024

#### 2. 문자열

In [19]:
# 문자열 인덱싱(Indexing) : Index is started from 0 [number]
letters = 'python'
print(letters[0], letters[1])

p y

In [20]:
# Slicing str : [start:end]
car_num = '24가 1234'
print(car_num[-4:])

1234

In [21]:
# '홀짝홀짝홀짝' 문자열을 변수에 바인딩 한 후 '홀'만 출력하는 프로그램
# 슬라이싱 [start:end:offset]
string = '홀짝홀짝홀짝'
print(string[::2])

홀홀홀

In [22]:
# 문자열을 거꾸로 뒤집어 출력
string = 'python'
print(string[::-1])

nohtyp

In [24]:
# 문자열 치환
phone_number = '010-1234-5678'
phone_number = phone_number.replace("-", " ")
print(phone_number)

010 1234 5678

In [25]:
phone_number = phone_number.replace(" ", "")
print(phone_number)

01012345678

In [27]:
# 웹사이트의 URL에서 도메인만 출력하는 프로그램
# 도메인 : com, net, org, kr
url = 'http://www.naver.com'
print(url.split('.')[-1])

com

In [28]:
lang = 'python'
lang[0] = 'P'
print(lang) # 문자열 수정 불가

TypeError: 'str' object does not support item assignment

In [30]:
# replace() : 치환

string = 'abcdefdjifhwuei4d2341af'

# 소문자 'a'를 대문자 'A'
print(string.replace('a', 'A'))

Abcdefdjifhwuei4d2341Af
abcdefdjifhwuei4d2341af

In [31]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [33]:
# 좌우 공백을 제거하는 메서드 strip
data = '   삼성전자 LG  '
print(data)
print(data.strip())

   삼성전자 LG
삼성전자 LG

In [34]:
# upper, lower, capitalize
ticker = 'btc_krw'
ticker1 = ticker.upper()
print(ticker1)
ticker2 = ticker1.lower()
print(ticker2)

BTC_KRW
btc_krw

In [35]:
a = 'hello'
print(a.capitalize())

Hello

In [37]:
# endswith
file_name = '보고서.xlsx'
file_name.endswith('xlsx' or 'xls')

True

In [39]:
# startswith
file_name = '2021_보고서.xlsx'
file_name.startswith('2021')

True

In [40]:
date = '2021-04-12'
date.split('-')

['2021', '04', '12']

In [41]:
# 시퀀스 자료형, 인덱스, 순서가 있고 ...

In [42]:
mydata = ()
print(type(mydata))

<class 'tuple'>

In [43]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 7.8, 9.4]
# 좌측 8개의 값은 val 변수로 바인딩하여 출력하는 프로그램
# 무시 : _
*val, _, _ = scores
print(val)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9]

In [45]:
for _ in range(5):
    print('Hi')

Hi
Hi
Hi
Hi
Hi

In [46]:
products = {'메로나':[300, 20], '비비빅' : [400, 3], '죠스바':[250, 10]}

print(products)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 10]}

In [47]:
# 메로나 가격 추출
print(products['메로나'][0])

300

In [48]:
# keys()
product = products.keys()

# values()
product = products.values()

In [49]:
# 등록된 아이스트림 가격의 총합
icecream = {'탱크보이':1200, '폴라포':1200, '빵빠레':1800, '월드콘':1500}
print(sum(icecream.values()))

5700

In [50]:
# zip
keys = ('apple', 'pear', 'peach')
vals = (300, 250, 40)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 40}

In [51]:
file2 = ['intro.h', 'test.c', 'define.h', 'run.py', 'demo.h']

for i in file2:
    split = i.split(".")
    if split[1] == 'h' or split[1] == 'py':
        print(i)

intro.h
define.h
run.py
demo.h

#### 7. 함수(Fuction)

In [52]:
def adder(a,b):
    return a + b

In [53]:
# 하나의 문자열을 입력받아 문자열 끝에 ":D"를 붙여 출력
# print_str

def print_str(string):
    print(string + ':D')

In [54]:
print_str('안녕하세요')

안녕하세요:D
None

In [56]:
print(sum([1, 2, 3]))

6

In [57]:
def print_score(lists):
    print(sum(lists))

In [58]:
print_score([1, 2, 3])

6

In [60]:
# 리스트를 입력받아 짝수만 출력하는 print_even 함수를 정의
def print_even(my_list):
    for item in my_list:
        if item % 2 == 0:
            print(item)

In [61]:
print_even([1, 3, 5, 7, 0, 6, 2, 7])

0
6
2

In [62]:
# 하나의 딕셔너리를 입력받아 key값을 화면에 출력하는 함수
def print_keys(dic):
    for key in dic:
        print(key)

In [65]:
print_keys({'aaa':1210, 'dgueh':2122, 'eiux':222})

aaa
dgueh
eiux

In [70]:
# 입력 문자열을 한 줄에 다섯 글자 씩만 출력하는 함수
def print_5times(string):
    for i in range(len(string)):
        if i % 5 == 0:
            print()
        print(string[i], end = "")

In [71]:
print_5times('가나다라마바사아자차카타파하이히하호후헤')

가나다라마
바사아자차
카타파하이
히하호후헤

In [72]:
# 문자열과 한 줄에 출력될 글자 수를 입력받아 처리하는 함수
def print_mxn(string, num):
    count = int(len(string)/num)
    for x in range(count+1):
        print(string[x*num:x*num+num])

In [73]:
print_mxn('가나다라마바사아자차카타파하이히하호후헤', 3)

가나다
라마바
사아자
차카타
파하이
히하호
후헤

In [75]:
def my_print(a, b):
    print('좌측 :', a)
    print('우측 :', b)
    
my_print(b=100, a=200)

좌측 : 200
우측 : 100

In [76]:
# 문자열을 비어있는 리스트에 추가한 후 리스트 반환
# 문자열을 입력받아 출력하는 작업을 수행한다. 
# 이 때, 입력받은 문자열이 quit이면 작업을 종료한다.
def make_list(string):
    return list(stirng)

#### 8. 클래스(Class)

In [77]:
# OOP
# Object(객체)
# Instance(객체) - 인스턴스 객체
# self - 인스턴스 자신의 주소, 자기자신을 가르키는 포인터

In [80]:
class FruitSeller:
    apples = 100   # 판매할 과일의 개수
    price = 1000 # 판매할 과일의 금액
    money = 0    # 판매금액을 누적할 변수
    
    def sal(self, don): # 과일을 판매하는 행위를 기술한 메서드
        apple = don // self.price
        self.apples -= apple
        self.money += don
        return apple
    
    def bal(self): # 과일을 판매하여 얻어지는 판매수익을 처리
        pass
    
    def disp(self): # 현재 과일장수의 상태를 기술
        print('과일재고 :', self.apples)
        print('과일금액 :', self.price)
        print('매출현황 :', self.money)

In [81]:
seller = FruitSeller()
seller.disp()

과일재고 : 100
과일금액 : 1000
매출현황 : 0

In [82]:
seller.sal(5000)
seller.disp()

과일재고 : 95
과일금액 : 1000
매출현황 : 5000

In [83]:
seller2 = FruitSeller()
seller2.apples = 10
seller2.price = 500
seller2.disp()

과일재고 : 10
과일금액 : 500
매출현황 : 0

In [87]:
class FruitSeller:
    
    def __init__(self, apples, price, money):
        self.apples = apples
        self.price = price
        self.money = money
    
    def sal(self, don): # 과일을 판매하는 행위를 기술한 메서드
        apple = don // self.price
        self.apples -= apple
        self.money += don
        return apple
    
    def bal(self): # 과일을 판매하여 얻어지는 판매수익을 처리
        pass
    
    def disp(self): # 현재 과일장수의 상태를 기술
        print('과일재고 :', self.apples)
        print('과일금액 :', self.price)
        print('매출현황 :', self.money)

In [88]:
aaa = FruitSeller(50, 1000, 0)
bbb = FruitSeller(100, 800, 0)

aaa.disp()
bbb.disp()

과일재고 : 50
과일금액 : 1000
매출현황 : 0
과일재고 : 100
과일금액 : 800
매출현황 : 0

In [97]:
import random

class Account:
    # 클래스 변수 : 생성된 계좌 객체의 수를 저장하는 변수
    account_count = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = '파이썬은행'
        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_number = num1 + '-' + num2 + '-' + num3
        
        Account.account_count += 1
    
    def disp(self):
        print('이름 :', self.name)
        print('잔액 :', self.balance)
        print('은행 :', self.bank)
        print('계좌번호 :', self.account_number)

In [98]:
kim = Account('김유신', 100000)

In [95]:
kim.disp()

이름 : 김유신
잔액 : 100000
은행 : 파이썬은행
계좌번호 : 228-35-067955

In [99]:
lee = Account('이순신', 250000)
lee.disp()

이름 : 이순신
잔액 : 250000
은행 : 파이썬은행
계좌번호 : 908-24-688670

In [100]:
print(Account.account_count)

2

In [101]:
park = Account('박문수', 50000)
park.disp()
print(Account.account_count)

이름 : 박문수
잔액 : 50000
은행 : 파이썬은행
계좌번호 : 462-55-619911
3