In [1]:
import numpy as np
import pandas as pd

In [2]:
# 집계함수의 절차 : 분리(split)-적용(apply)-결합(combine)
# DataFrame : 통계량을 계산할 열(Series).groupby(기준이될 열(Series))
# Series : 특정 열 인덱스.groupby(기준 열 인덱스)
df = pd.DataFrame({'key1': list('aabba'),
                  'key2': ['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.102319  0.817247
1    a  two  0.553022 -0.517911
2    b  one -0.840534  0.519187
3    b  two  0.225604  1.877310
4    a  one -0.652910  0.072418

In [3]:
# key1 열이 a인 행들에 대해 data1의 평균을 계산하시오.
grouped = df['data1'].groupby(df['key1'])
grouped

In [4]:
grouped.mean()

key1
a   -0.067402
b   -0.307465
Name: data1, dtype: float64

In [5]:
# key1, key2 그룹 - data1에 대한 평균
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one    -0.377615
      two     0.553022
b     one    -0.840534
      two     0.225604
Name: data1, dtype: float64

In [6]:
# 하위계층을 위로 올리는 작업
means.unstack()

key2       one       two
key1
a    -0.377615  0.553022
b    -0.840534  0.225604

In [7]:
df.groupby('key1').mean()

         data1     data2
key1
a    -0.067402  0.123918
b    -0.307465  1.198249

In [8]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one  -0.377615  0.444832
     two   0.553022 -0.517911
b    one  -0.840534  0.519187
     two   0.225604  1.877310

In [9]:
df.groupby(['key1', 'key2'])['data2'].mean()

key1  key2
a     one     0.444832
      two    -0.517911
b     one     0.519187
      two     1.877310
Name: data2, dtype: float64

In [10]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.102319  0.817247
1    a  two  0.553022 -0.517911
4    a  one -0.652910  0.072418
b
  key1 key2     data1     data2
2    b  one -0.840534  0.519187
3    b  two  0.225604  1.877310

In [11]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print(k1, k2)
    print(group)

a one
  key1 key2     data1     data2
0    a  one -0.102319  0.817247
4    a  one -0.652910  0.072418
a two
  key1 key2     data1     data2
1    a  two  0.553022 -0.517911
b one
  key1 key2     data1     data2
2    b  one -0.840534  0.519187
b two
  key1 key2     data1    data2
3    b  two  0.225604  1.87731

In [12]:
df.groupby(['key1', 'key2']).count()

           data1  data2
key1 key2
a    one       2      2
     two       1      1
b    one       1      1
     two       1      1

In [13]:
df.groupby(['key1', 'key2']).size()  # return Series type

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64